<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/template :: head">
</head>

<body>
    <header th:replace="/template :: header"></header>
    <div class="container">
        <form th:action="@{/orders/saveP}" th:object="${pedido}" method="post"> 
            <div class="form-group row">
                <label for="cliente" class="col-sm-2 col-form-label">Cliente:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{cliente}" class="form-control" id="nombre" placeholder="Nombre del cliente">
                </div>
            </div>
            <div class="form-group row">
                <label for="estado" class="col-sm-2 col-form-label">Estado:</label>
                <div class="col-sm-10">
                    <select th:field="*{estado}" class="form-control" id="estado">
                    <option value="pendiente">Pendiente</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="fecha"  class="col-sm-2 col-form-label">Fecha:</label>
                <div class="col-sm-10">
                    <input type="date" th:field="*{fecha}" class="form-control" id="fecha" placeholder="Fecha del pedido">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <input type="submit" class="btn btn-primary" value="Guardar">
                </div>
            </div>
        </form>
    </div>
</body>

</html>